<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pku.info.activity.mapper.ActivityMapper">
    <select id="getActivityCount" resultType="java.lang.Integer">
        SELECT COUNT(*) as count FROM t_activity_info WHERE start_date BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="getSubscribedActivity" resultType="pku.info.activity.entity.Activity">
        WITH t_user_subscribe(activity_id) AS (SELECT activity_id FROM t_activity_subscription WHERE user_id = #{id})
        SELECT * FROM t_activity_info AS AI INNER JOIN t_user_subscribe AS US ON AI.id = US.activity_id WHERE AI.start_date >= #{now}
    </select>

    <select id="getSubscribeActivityCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM (SELECT * FROM t_activity_info WHERE start_date BETWEEN #{startDate} AND #{endDate}
            <if test="tag != null">
                AND type LIKE concat('%',#{tag,jdbcType=VARCHAR},'%')
            </if>
        ) AS AI
    </select>

    <select id="getSubscribedActivityInfo" resultType="pku.info.activity.vo.ActivityWithSubscribeInfo">
        WITH t_user_subscribe(activity_id) AS (SELECT activity_id FROM t_activity_subscription WHERE user_id = #{id})
        SELECT id, title, address, start_date, end_date, start_time, end_time, description, college, account_link, extra_info, view, subscribe, type AS tags, IF(ISNULL(activity_id), FALSE, TRUE) AS is_subscribed
        FROM (SELECT * FROM t_activity_info WHERE
            start_date BETWEEN #{startDate} AND #{endDate}
            <if test="tag != null">
                AND type LIKE concat('%',#{tag,jdbcType=VARCHAR},'%')
            </if>
        ) AS AI
        LEFT JOIN t_user_subscribe AS US ON US.activity_id = AI.id
        ORDER BY ${type} DESC
        LIMIT #{start},#{size}
    </select>
</mapper>